* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html, body {
    scroll-behavior: smooth;
    font-family:Calibri, sans-serif;
    font-size:1.2em;
}

a {
    text-decoration:none;
    color:#f5f5f5;
}

a:hover {
    color:#F708BF;
}

ul {
    list-style:none;
}

img {
    width:100%;
    display:block;
}

.container {
    max-width:1200px;
    margin:auto;
}

.grid-auto {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:3rem;
    text-align:center;
    justify-items:center;
}

.flex {
    display:flex;
    justify-content:center;
}

.flex p {
    padding:0.5rem;
}


/*NAV*/

#navbar {
    background:#000;
    position:fixed;
    top:0;
    z-index:1;
    width:100%;
    border-bottom:0.1rem solid #F708BF;
    padding:0.5rem;
}

.section-container {
    padding:1rem 0 2rem 0;
    scroll-margin-top:3.1rem;
}

.section-header {
    margin-bottom:1rem;
    text-align:center;
}

/*WELCOME*/

#welcome-section {
    height:100vh;
    background-image:url('img/pexels-markus-spiske-1089440.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.welcome-overlay {
    background:rgba(0,0,0,0.6);
    height:100vh;
    display:grid;
    justify-content:center;
    align-content:center;
}

.welcome-text {
    text-align:center;
}

.welcome-text h1 {
    font-size:4rem;
    color:#f5f5f5;
}

.welcome-text h2 {
    color:#aeb0bb;
}

/*SKILLS*/

.fa-html5 {
    color:rgb(236, 81, 19);
}

.fa-css3-alt {
    color:rgb(87, 147, 226);
}

.fa-js-square {
    color:yellow;
}

.fa-git-square {
    color:red;
}

/*WORK*/
#projects {
    background:#c9c9c9;
    scroll-padding-block:1rem;
    padding:1rem;
}

.project {
    position:relative;
}

.project-img {
    border-radius:0.2rem;
}

.project-title {
    position:absolute;
    bottom:0;
    padding:1rem;
    background:rgba(0,0,0,0.8);
    width:100%;
}

/*FOOTER*/

footer {
    background:rgb(19, 19, 19);
    align-items:center;
    padding:0.2rem;
}

footer section {
    margin-right:2rem;
}

#copyright {
    color:#F708BF;
    font-size:1rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width:750px) {
    .welcome-text h1 {
        font-size:3.5rem;
    }
    h2 {
        font-size:1.2rem;
    }
    .grid-auto {
        grid-gap:1rem;
    }
}

@media only screen and (max-width:650px) {
    .welcome-text h1 {
        font-size:3rem;
    }
    h2 {
        font-size:1.1rem;
    }
}

@media only screen and (max-width:550px) {
    .welcome-text h1 {
        font-size:2.5rem;
    }
    h2 {
        font-size:1rem;
    }
}
